#home {
  h1 {
    margin-top: 40px;
    text-align: center;
  }
}
.headline {
    text-align: center;
    color: white;

    h1 {
        font-weight: 700;
        font-size: 48px;
        margin-bottom: 80px;
    }
}
#donate {
    text-align: center;
}
#paypal {
  background-image: url('./images/btn_donate_pp.png');
  width: 140px;
  margin-top: 60px;
}