* {
  box-sizing: border-box; }

html, body {
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0; }

body {
  background: #fdfdfd;
  font-family: 'Open Sans', sans-serif; }

#main {
  padding-top: 120px;
  width: 100%;
  min-height: 100%;
  background: url(/images/home.jpg) no-repeat center center;
  background-size: cover;
  margin-top: -91px;
  padding-bottom: 80px; }

#main-container {
  padding: 10px 40px; }

#paypal {
  background-image: url('./images/btn_donate_pp.png');
  width: 140px;
  position: absolute;
  right: 20px;
  bottom: 20px; }

fullstack-logo {
  display: block; }
  fullstack-logo img {
    display: block;
    width: 100%; }

navbar {
  display: block;
  background: rgba(0, 0, 0, 0.7);
  position: relative;
  z-index: 120; }
  navbar .container {
    width: 91%;
    max-width: 1340px;
    padding-top: 20px; }
  navbar fullstack-logo {
    margin-top: 5px;
    margin-right: 20px;
    width: 204px; }
  navbar a {
    color: white;
    font-size: 16px; }
  navbar .nav > li > a {
    cursor: pointer;
    transition: color 0.2s; }
    navbar .nav > li > a.active {
      color: #d1ef51; }
    navbar .nav > li > a:hover {
      background: none;
      color: #DDF380; }
    navbar .nav > li > a:focus {
      background: none; }
  navbar .login-button {
    float: right;
    border: 1px solid black;
    margin-top: 10px;
    background: none;
    outline: none !important; }
  navbar .welcome {
    float: right; }
    navbar .welcome span {
      color: white; }
    navbar .welcome a {
      color: #f30046;
      cursor: pointer; }

#main-navbar ul {
  float: right; }

#home h1 {
  margin-top: 40px;
  text-align: center; }

.headline {
  text-align: center;
  color: white; }
  .headline h1 {
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 80px; }

#about {
  margin: 0 auto;
  width: 90%; }
  #about:after {
    content: "";
    display: table;
    clear: both; }
  #about p {
    width: 40%;
    margin: 0 auto;
    text-align: justify;
    font-size: 22px;
    font-weight: 300;
    float: left; }
  #about .carousel {
    float: right;
    width: 55%;
    overflow: hidden;
    margin: 0 auto; }
    #about .carousel .carousel-inner {
      height: 500px !important; }
    #about .carousel .carousel-control {
      background: none; }
    #about .carousel .carousel-indicators {
      display: none; }
    #about .carousel img {
      max-width: 100%;
      max-height: 500px;
      display: block;
      margin: 0 auto; }

tutorial-section {
  display: block;
  width: 90%;
  margin: 10px auto;
  padding: 20px 0 60px 0; }
  tutorial-section > h1 {
    margin: 20px 0 40px 0;
    text-align: center;
    font-weight: bold; }

tutorial-video {
  display: block;
  width: 600px;
  margin: 0 auto; }
  tutorial-video h1 {
    font-weight: 300;
    font-size: 24px;
    margin-bottom: 15px; }
  tutorial-video iframe {
    width: 600px;
    height: 400px; }

tutorial-section-menu {
  display: block; }
  tutorial-section-menu:after {
    content: "";
    display: table;
    clear: both; }
  tutorial-section-menu ul {
    margin-left: 23px;
    list-style-type: none;
    font-weight: 300; }
    tutorial-section-menu ul li {
      float: left;
      margin-right: 40px;
      padding: 10px;
      cursor: pointer; }
      tutorial-section-menu ul li:hover {
        background: #f3f3f3; }

#signup-form, #signin-form, #alert-form {
  padding: 40px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 6px;
  margin-bottom: 80px; }

.form-heading {
  margin-top: 0;
  margin-bottom: 40px; }

#map .angular-google-map-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%; }

#results {
  position: absolute;
  z-index: 250;
  max-width: 350px;
  max-height: calc(100vh - 71px);
  top: 71px;
  right: 0;
  background: white;
  padding: 25px; }
  #results .tab {
    position: absolute;
    z-index: 250;
    width: 52px;
    height: 100px;
    left: -29px;
    top: 0;
    background: url(images/tab.png) no-repeat top left; }
  #results .overflowY {
    position: relative;
    top: 0;
    right: 0;
    width: 100%;
    max-height: calc(100vh - 96px);
    overflow-y: scroll;
    overflow-x: visible; }
  #results ul, #results li {
    margin: 0;
    padding: 0;
    list-style-type: none; }
  #results ul {
    padding-top: 66px; }
  #results li {
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
    margin-bottom: 10px; }
  #results .company {
    font-size: 130%;
    margin-right: 10px; }
  #results .address {
    color: #bababa;
    margin-right: 10px; }
  #results .date {
    color: #8fa15f;
    margin-top: 0;
    margin-bottom: 30px;
    position: fixed;
    z-index: 251;
    background: white;
    margin: -25px -25px 0 -25px;
    padding: 25px;
    width: 100%; }
  #results .description {
    color: #898989; }
  #results .time {
    margin-right: 15px;
    font-size: 90%; }
