#map {
    .angular-google-map-container {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
    }
}

#results {
    position: absolute;
    z-index: 250;
    width: 350px;
    height: calc(100vh - 71px);
    top: 71px;
    right: 0;
    background: white;
    padding: 25px;

    .tab {
        position: absolute;
        z-index: 249;
        width: 52px;
        height: 100px;
        left: -29px;
        top: 0;
        background: url(images/tab.png) no-repeat top left;
    }

    ul, li {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
    .company {
        font-size: 130%;
        margin-right: 10px;
    }
    .address {
        color: #bababa;
        margin-right: 10px;
    }
    .date {
        color: #8fa15f;
        margin-top: 0;
        margin-bottom: 30px;
    }
    .description {
        display: block;
        color: #898989;
        border-bottom: 1px solid #eee;
        padding-bottom: 15px;
        margin-bottom: 15px;
    }
}










