#signup-form,
#signin-form,
#alert-form {
    padding: 40px;
    background: rgba(255,255,255,.9);
    border-radius: 6px;
    margin-bottom: 80px;
}
.form-heading {
    margin-top: 0;
    margin-bottom: 40px;
}