<div class="container-fluid">
    <div class="col-sm-offset-3 col-sm-6" id="alert-form">        
        <form name="sendAlertForm" ng-submit="sendAlert(alertInfo)" novalidate>
            <h1 class="form-heading text-center">Notify recipients to pick up food</h1>

            <alert type="danger" ng-show="error">
                {{ error }}
            </alert>

            <div class="form-group">
                <label for="alert-description">Description of food</label><i class="bar"></i>
                <textarea type="text" class="form-control" rows="10" cols="50" ng-model="alertInfo.description" id="description" required></textarea>
            </div>

            <!-- <div class="note-image">
                <img class="note-modal-img" ng-repeat='image in note.images' ng-src='{{image}}'>
            </div> -->

            <button class="btn btn-default pull-left" ng-click="addImage()">Add Media</button>

            <button type="submit" class="btn btn-primary btn-large btn-center pull-right">Send Alert</button>
        </form>

    </div>
</div>
